@{
    ViewData["Title"] = "Home Page";
}

<script src="~/js/bundles/bundle.js"></script>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex" />
    <link rel="icon" type="image/x-icon" href="~/images/favicon.ico" />
    <link rel="stylesheet" href="~/css/index.css" />
</head>

<body>
    <div id="root"></div>
</body>

<script type="text/javascript">
    window.InitApp();
</script>